---
layout: default
---

<div class="home">

  <h1 class="post-title">Columns!</h1>
  
  <h4>"Getting Together" (Oct 10)</h4>
  <div>Club rejection; counting to three. Read the full scenarios (and our advice) <a href="http://www.thedp.com/article/2016/10/awkwardly-yours-getting-together">here</a>.</div>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <span class="post-meta"><small>{{ post.date | date: "%b %-d, %Y" }}</small></span>
        </h2>

      </li>

    {% endfor %}
  </ul>

{% include pagination.html %}
